<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Dashboard for autocloud build results" />
    <meta name="author" content="Ratnadeep Debnath" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

    <title>Autocloud</title>

  </head>

  <body>
        <pre>
                                                                                     _  _    ___  _  _   
                                                                                    | || |  / _ \| || |  
                                                                                    | || |_| | | | || |_ 
                                                                                    |__  __| |_| |__   _|
                                                                                      |_|   \___/   |_|  
                                                                                              



                                                                                             _\|/_
                                                                                             (o o)
                             +------------------------------------------------------------oOO-{_}-OOo---------------------------------------------------------+
                             | _   _                 _                                 _                                               _     _                |
                             || | | | ___  _   _ ___| |_ ___  _ __     __      _____  | |__   __ ___   _____    __ _   _ __  _ __ ___ | |__ | | ___ _ __ ___  |
                             || |_| |/ _ \| | | / __| __/ _ \| '_ \    \ \ /\ / / _ \ | '_ \ / _` \ \ / / _ \  / _` | | '_ \| '__/ _ \| '_ \| |/ _ \ '_ ` _ \ |
                             ||  _  | (_) | |_| \__ \ || (_) | | | |_   \ V  V /  __/ | | | | (_| |\ V /  __/ | (_| | | |_) | | | (_) | |_) | |  __/ | | | | ||
                             ||_| |_|\___/ \__,_|___/\__\___/|_| |_( )   \_/\_/ \___| |_| |_|\__,_| \_/ \___|  \__,_| | .__/|_|  \___/|_.__/|_|\___|_| |_| |_||
                             |                                     |/                                                 |_|                                     |
                             |                                                                                                                                |
                             +-------------------------------------------------------------------------------------------------------------------------------*/
        </pre>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js')}}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/site.js')}}"></script>
    </body>
</html>
