{% extends "master.html" %}

{% block body %}
<div class="container">
  <nav>
    <ul class="pager">
      <li class="previous{% if not prev_link %} disabled{% endif %}">
        {% if prev_link %}
          <a href="{{ prev_link }}"><span aria-hidden="true">&larr;</span> Previous</a>
        {% endif %}
      </li>
      <li class="next{% if not next_link %} disabled{% endif %}">
        {% if next_link %}
          <a href="{{ next_link }}">Next <span aria-hidden="true">&rarr;</span></a>
        {% endif %}
      </li>
    </ul>
  </nav>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Task ID</th>
        <th>Status</th>
        <th>Created</th>
        <th>Last updated</th>
        <th>Output</th>
      </tr>
    </thead>
    <tbody>
      {% for job_detail in job_details %}
        <tr>
            <td>
                <a href="http://koji.fedoraproject.org/koji/taskinfo?taskID={{ job_detail.taskid }}" target="_blank">{{ job_detail.taskid }}</a>
            </td>
          <td>
              {% if job_detail.status == 's' %}
                <span class="label label-success glyphicon glyphicon-ok">
              {% elif job_detail.status in ('f', 'a') %}
                <span class="label label-danger glyphicon glyphicon-remove">
              {% elif job_detail.status == 'r' %}
                <span class="label label-primary glyphicon glyphicon-refresh">
              {% elif job_detail.status == 'q' %}
                <span class="label label-info glyphicon glyphicon-time">
              {% else %}
                <span class="label label-default">
              {% endif %}
                  {{ job_detail.status }}
              </span>
          </td>
          <td>{{ job_detail.created_on }}</td>
          <td>{{ job_detail.last_updated }}</td>
          <td><a class="btn btn-primary btn-sm" href="{{ url_for('job_output', jobid=job_detail.id) }}"><icon class="glyphicon glyphicon-list-alt"></icon> Output</a></td>
        </tr>
      {% else %}
        <tr><td>No results to display!</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
